<section class="about">
    <img class="about__back" src="../images/dist/about__back.webp" alt="">
    <img class="about__letter" src="../images/dist/letter.webp" alt="">
    <div class="container">
        <div class="about__body">
            <h1>
                о КОМПАНИИ
            </h1>
            <div class="about__body-block">
                <div class="about__body-block-info">
                    <div class="about__body-block-info-lead">
                        <img src="../images/dist/nikola.webp" alt="">
                        <span>Николай Андреевич Курпан</span>
                        <p>Основатель и руководитель проекта</p>
                    </div>
                    <div class="about__body-block-info-desc">
                        <svg class="about__body-block-info-desc-bot" width="30" height="26" viewBox="0 0 30 26"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M27.3367 2.24128C29.0696 4.32098 30 6.65351 30 10.4346C30 17.0881 25.8662 23.0515 19.8547 26L18.3523 23.3804C23.9633 19.951 25.0603 15.5008 25.4977 12.6949C24.5942 13.2234 23.4115 13.4078 22.2523 13.2861C19.2171 12.9686 16.8246 10.1532 16.8246 6.6535C16.8246 4.88888 17.445 3.19654 18.5494 1.94876C19.6537 0.70099 21.1515 -7.73561e-07 22.7133 -6.37028e-07C24.5185 -4.79205e-07 26.2447 0.931492 27.3367 2.24128ZM10.512 2.24128C12.245 4.32097 13.1754 6.65351 13.1754 10.4346C13.1754 17.0881 9.04156 23.0515 3.03012 26L1.52768 23.3804C7.13869 19.951 8.23566 15.5008 8.6731 12.6949C7.76962 13.2234 6.58684 13.4078 5.42763 13.2861C2.39246 12.9686 1.38537e-06 10.1532 1.69132e-06 6.6535C1.84559e-06 4.88888 0.620407 3.19654 1.72474 1.94876C2.82907 0.700988 4.32686 -2.24442e-06 5.88862 -2.10788e-06C7.69391 -1.95006e-06 9.42011 0.93149 10.512 2.24128Z"
                                fill="#A4905D" />
                        </svg>
                        <svg class="about__body-block-info-desc-top" width="30" height="26" viewBox="0 0 30 26"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.66334 23.7587C0.930403 21.679 0 19.3465 0 15.5654C0 8.9119 4.13381 2.94845 10.1453 0L11.6477 2.61958C6.03668 6.04899 4.93971 10.4992 4.50227 13.3051C5.40575 12.7766 6.58853 12.5922 7.74774 12.7139C10.7829 13.0314 13.1754 15.8468 13.1754 19.3465C13.1754 21.1111 12.555 22.8035 11.4506 24.0512C10.3463 25.299 8.84851 26 7.28675 26C5.48146 26 3.75526 25.0685 2.66334 23.7587ZM19.488 23.7587C17.755 21.679 16.8246 19.3465 16.8246 15.5654C16.8246 8.9119 20.9584 2.94845 26.9699 0L28.4723 2.61958C22.8613 6.04899 21.7643 10.4992 21.3269 13.3051C22.2304 12.7766 23.4132 12.5922 24.5724 12.7139C27.6075 13.0314 30 15.8468 30 19.3465C30 21.1111 29.3796 22.8035 28.2753 24.0512C27.1709 25.299 25.6731 26 24.1114 26C22.3061 26 20.5799 25.0685 19.488 23.7587Z"
                                fill="#A4905D" />
                        </svg>
                        <p>
                            Я начал системное изучение своей родословной в 2014 году. Последовательно раскрывал историю
                            своей семьи, которая не была известна и которая оказалась очень разнообразной во всех
                            смыслах. Много сословий, вероисповеданий, широченная география — от Берлина до Уфы, от
                            Архангельска до Николаева. А самые глубокие ветки моих предков уходят аж в XV век.
                            <br><br>
                            За время собственных исследований я объехал европейскую Россию, Беларусь и Украину,
                            поработал лично более чем в 20 архивах только лишь над своей собственной историей. Поэтому,
                            когда в 2021 году принял решение начать помогать другим, у меня уже был большой багаж знаний
                            и практические наработки.
                            <br><br>
                            Имея за плечами организаторский и IT-опыт, полученные от другой деятельности, а также
                            стойкую уверенность, что мы должны не только пользоваться тем, что создано до нас, но и
                            совершенствовать это, привнося новое, почти сразу стало очевидным, что собрав коллектив
                            единомышленников, я смог бы принести миру значительно больше пользы, чем в одиночку!
                        </p>
                    </div>
                </div>
                <p class="about__body-block-desc">
                    Наша компания начала формироваться с 2022 года, занимаясь не только частными исследованиями широкого
                    профиля, но и общественно-значимыми проектами, позитивно воспринятыми как заказчиками, так и
                    генеалогическим сообществом и даже архивами (о чем свидетельствует общественная дискуссия,
                    количество участников наших проектов и благодарности из архивов).
                    <br><br>
                    На сегодня мы – команда исследователей, включающая в себя специалистов с профильным образованием,
                    много десятилетним стажем и большой любовью к истории и архивистике. И мы будем счастливы заняться
                    исследованием именно Вашей родословной, биографии Вашего предка, интересующего Вас сооружения,
                    земельного участка, сбором документов по интересующей Вас теме или чем угодно другим, связанным с
                    исследованием истории!
                </p>
            </div>
        </div>
    </div>
</section>