<section class="advantages">
    <img class="advantages__back" src="../images/dist/advantages__back.webp" alt="">
    <div class="container">
        <div class="advantages__body">
            <h1 class="advantages__body-title">
                Почему именно <span>мы?</span>
            </h1>
            <div class="advantages__body-block">
                <div class="advantages__body-block-item">
                    <img src="../images/dist/advantages/1.png" alt="">
                    <div class="advantages__body-block-item-text">
                        <h3>
                            Обширная географія
                        </h3>
                        <p>Работаем с архивами всех стран, которые хранят <br> в себе документы Российской империи.</p>
                    </div>
                </div>
                <div class="advantages__body-block-item">
                    <img src="../images/dist/advantages/2.png" alt="">
                    <div class="advantages__body-block-item-text">
                        <h3>
                            Особое попеченіе
                        </h3>
                        <p>Индивидуальный подход приводит к прозрачному <br>
                            и гибкому ценообразованию: каждое действие отражено <br>
                            в смете, и ее можно редактировать до начала работы.</p>
                    </div>
                </div>
                <div class="advantages__body-block-item">
                    <img src="../images/dist/advantages/3.png" alt="">
                    <div class="advantages__body-block-item-text">
                        <h3>
                            Экономія
                        </h3>
                        <p>Оплачивая наши услуги, Вы не платите за аренду нашего <br> офиса, потому что его нет. Мы строим работу удаленно, <br> что снижает себестоимость.</p>
                    </div>
                </div>
                <div class="advantages__body-block-item">
                    <img src="../images/dist/advantages/4.png" alt="">
                    <div class="advantages__body-block-item-text">
                        <h3>
                            Призрѣніе архивовъ
                        </h3>
                        <p>Заказывая у нас, Вы поддерживаете развитие <br> архивистики, касающейся Российкой империи и СССР: <br> мы создаем и ведем разные масштабные социально- <br>значимые проекты с общедоступным результатом.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>