<section class="articles">
    <img src="../images/dist/letter.webp" alt="" class="articles__letter">
    <div class="container">
        <div class="articles__body">
            <h1>
                Другие статьи
            </h1>
            <div class="articles__body-item">
                <img class="articles__body-item-img" src="../images/dist/articles.webp" alt="">
                <div class="articles__body-item-grad"></div>
                <div class="articles__body-item-info">
                    <div class="articles__body-item-info-top">
                        <span>Обширная географія</span>
                        <p>Работаем с архивами всех стран, которые хранят в себе документы Российской империи...</p>
                    </div>
                    <div class="articles__body-item-info-bot">
                        <a href="">
                            Подробнее
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9992 3.41797L11.9992 11.4996L3.91797 11.4996" stroke="#5C5C5C"/>
                                <path d="M11.9995 11.5L1 0.5" stroke="#5C5C5C"/>
                            </svg>                                
                        </a>
                        <div class="articles__body-item-info-bot-attr">
                            <span>18.12.24</span>
                            <span>Н. Курпан</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="articles__body-item">
                <img class="articles__body-item-img" src="../images/dist/articles.webp" alt="">
                <div class="articles__body-item-grad"></div>
                <div class="articles__body-item-info">
                    <div class="articles__body-item-info-top">
                        <span>Обширная географія</span>
                        <p>Работаем с архивами всех стран, которые хранят в себе документы Российской империи...</p>
                    </div>
                    <div class="articles__body-item-info-bot">
                        <a href="">
                            Подробнее
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9992 3.41797L11.9992 11.4996L3.91797 11.4996" stroke="#5C5C5C"/>
                                <path d="M11.9995 11.5L1 0.5" stroke="#5C5C5C"/>
                            </svg>                                
                        </a>
                        <div class="articles__body-item-info-bot-attr">
                            <span>18.12.24</span>
                            <span>Н. Курпан</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="articles__body-item">
                <img class="articles__body-item-img" src="../images/dist/articles.webp" alt="">
                <div class="articles__body-item-grad"></div>
                <div class="articles__body-item-info">
                    <div class="articles__body-item-info-top">
                        <span>Обширная географія</span>
                        <p>Работаем с архивами всех стран, которые хранят в себе документы Российской империи...</p>
                    </div>
                    <div class="articles__body-item-info-bot">
                        <a href="">
                            Подробнее
                            <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9992 3.41797L11.9992 11.4996L3.91797 11.4996" stroke="#5C5C5C"/>
                                <path d="M11.9995 11.5L1 0.5" stroke="#5C5C5C"/>
                            </svg>                                
                        </a>
                        <div class="articles__body-item-info-bot-attr">
                            <span>18.12.24</span>
                            <span>Н. Курпан</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="articles__body-btn-wrap">
                <button class="articles__body-btn">
                    Показать больше
                </button>
            </div>
            
        </div>
    </div>
</section>