<section class="blog">
    <img class="blog__back" src="../images/dist/blog__back.webp" alt="">
    <img class="blog__letter" src="../images/dist/letter.webp" alt="">
    <div class="blog__body">
        <h1 class="blog__body-title">
            Блог
        </h1>
        <div id="blog" class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.6967C9.46447 0.403807 8.98959 0.403807 8.6967 0.6967C8.40381 0.989593 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM-6.55671e-08 6.75L14 6.75L14 5.25L6.55671e-08 5.25L-6.55671e-08 6.75Z"
                            fill="white" />
                    </svg>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.5303 6.53033C14.8232 6.23744 14.8232 5.76256 14.5303 5.46967L9.75736 0.6967C9.46447 0.403807 8.98959 0.403807 8.6967 0.6967C8.40381 0.989593 8.40381 1.46447 8.6967 1.75736L12.9393 6L8.6967 10.2426C8.40381 10.5355 8.40381 11.0104 8.6967 11.3033C8.98959 11.5962 9.46447 11.5962 9.75736 11.3033L14.5303 6.53033ZM-6.55671e-08 6.75L14 6.75L14 5.25L6.55671e-08 5.25L-6.55671e-08 6.75Z"
                            fill="white" />
                    </svg>
                </button>
            </div>
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img class="splide__slide-img" src="../images/dist/blog__img.webp" alt="">
                        <div class="splide__slide-grad"></div>
                        <div class="splide__slide-text">
                            <div class="splide__slide-text-info">
                                <span class="splide__slide-text-info-name">
                                    Обширная географія
                                </span>
                                <p class="splide__slide-text-info-desc">
                                    Работаем с архивами всех стран, которые хранят в себе документы Российской
                                    империи...
                                </p>
                                <div class="splide__slide-text-info-soft">
                                    <span>18.12.24</span>
                                    <span>Н. Курпан</span>
                                </div>
                            </div>
                            <a href="">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                    <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <img class="splide__slide-img" src="../images/dist/blog__img.webp" alt="">
                        <div class="splide__slide-grad"></div>
                        <div class="splide__slide-text">
                            <div class="splide__slide-text-info">
                                <span class="splide__slide-text-info-name">
                                    Обширная географія
                                </span>
                                <p class="splide__slide-text-info-desc">
                                    Работаем с архивами всех стран, которые хранят в себе документы Российской
                                    империи...
                                </p>
                                <div class="splide__slide-text-info-soft">
                                    <span>18.12.24</span>
                                    <span>Н. Курпан</span>
                                </div>
                            </div>
                            <a href="">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                    <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                                </svg>
                            </a>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <img class="splide__slide-img" src="../images/dist/blog__img.webp" alt="">
                        <div class="splide__slide-grad"></div>
                        <div class="splide__slide-text">
                            <div class="splide__slide-text-info">
                                <span class="splide__slide-text-info-name">
                                    Обширная географія
                                </span>
                                <p class="splide__slide-text-info-desc">
                                    Работаем с архивами всех стран, которые хранят в себе документы Российской
                                    империи...
                                </p>
                                <div class="splide__slide-text-info-soft">
                                    <span>18.12.24</span>
                                    <span>Н. Курпан</span>
                                </div>
                            </div>
                            <a href="">
                                Подробнее
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                    <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>