<section class="feedback diff__feedback">
    <img class="feedback__back" src="../images/dist/advantages__back.webp" alt="">
    <div class="container">
        <div class="feedback__body">
            <img class="feedback__body-back" src="../images/dist/feedback__back.webp" alt="">
            <img class="feedback__body-img" src="../images/dist/feedback__img.webp" alt="">
            <div class="feedback__body-block">
                <div class="feedback__body-block-info">
                    <h2>Взыскать консультацію</h2>
                    <p>Столоначальникъ нашъ поспѣшитъ позвонить Вамъ, дабы представить извѣстія объ услугахъ нашихъ и удовлетворить всякое Ваше запрошеніе</p>
                </div>
                <form action="" method="post" class="feedback__body-block-form">
                    <div class="feedback__body-block-form-wrap">
                        <input placeholder="Имя" type="text">
                        <input placeholder="Телефон" type="tel">
                    </div>
                    <input class="feedback__body-block-form-email" placeholder="E-mail" type="email">
                    <button class="feedback__body-block-form-btn">
                        Подать прошеніе
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</section>