<footer class="footer">
    <img src="../images/dist/advantages__back.webp" alt="" class="footer__back">
    <div class="container">
        <div class="footer__body">
            <div class="footer__body-start">
                <a class="footer__body-start-logo" href="">
                    <img src="../images/dist/footer__logo.webp" alt="">
                </a>
                <a class="footer__body-start-btn" href="">
                    Оставить заявку
                </a>
            </div>
            <nav class="footer__body-menu">
                <span>Услуги</span>
                <ul class="footer__body-menu-list">
                    <li>
                        <a href="">
                            Генеалогическое (биографическое) исследование
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Репатриация
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Точечное исследование
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Прочее
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="footer__body-menu">
                <span>Компания</span>
                <ul class="footer__body-menu-list">
                    <li>
                        <a href="">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Блог
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Проекты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="footer__body-contact">
                <span>Контакты</span>
                <div class="footer__body-contact-items">
                    <div class="footer__body-contact-items-item">
                        <p>Номер для связи:</p>
                        <a href="">+7 (928) 708-11-60</a>
                    </div>
                    <div class="footer__body-contact-items-item">
                        <p>Почта:</p>
                        <a href="">contact@velikie.org</a>
                    </div>
                    <div class="footer__body-contact-items-item">
                        <p>Соц. сети:</p>
                        <a href="">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__soft">
            <span>© 201X—2024 «Великие предки»</span>
            <span>Оферта  |  Политика конфиденциальности</span>
        </div>
    </div>
</footer>