<section class="portfolio">
    <img class="portfolio__letter" src="../images/dist/letter.webp" alt="">
    <div class="container">
        <div class="portfolio__body">
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/1.png" alt="">
                <span>Великія описи</span>
                <p>
                    Волонтерское движение, занимающееся переводом архивных описей в электронный вид и передачей
                    результата в архивы. Набираются, в первую очередь, такие описи, в которых можно найти случайные
                    именные дела, касающиеся отдельных людей или населенных пунктов.
                    <br><br>
                    Для реализации проекта была разработана автоматизированная информационная система. Имеется
                    встроенный поиск по описям.
                    <br><br>
                    Предшественником этого проекта был проект по набору описей о раскольниках и сектантах из РГИА ф.1284
                    оп.195-222, который был реализован в 2022-2023 годах, а затем вошел в общую базу данных «Великих
                    описей».
                    <br><br>
                    Проект существует с начала 2023 года, набрано более 1.6 млн заголовков, в проекте участвует более
                    1000 человек.
                </p>
            </div>
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/2.png" alt="">
                <span>Крестьянский поземельный банк</span>
                <p>
                    С начала 1880х годов выкуп земель для бывших крепостных крестьян стал обязательным. Был создан банк,
                    выдававший ссуды для выкупа. Выкупные дела заводились во всех регионах и составлялись в двух
                    экземплярах. Столичные экземпляры сохранились, в целом, хорошо, и в них встречаются списки глав
                    семей заемщиков, а также иногда – детали их быта.
                    <br><br>
                    Эти документы хранятся в РГИА ф.592. Но существующие описи не позволяют выяснить, какие населенные
                    пункты есть в делах – известны только диапазоны номеров дел по уездам.
                    <br><br>
                    Мы при поддержке неравнодушных исследователей фотокопируем и публикуем эти дела целиком уездами, а
                    затем посредством «Великих описей» создаем возможность для составления именных и географических
                    указателей к ним.
                    <br><br>
                    Проект в активной фазе существует с 2021 года. Из 93 тыс. дел отснято 24 тыс., а указатели
                    составлены к 12 тыс.
                </p>
            </div>
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/3.png" alt="">
                <span>Столетние-1897</span>
                <p>
                    После переписи населения 1897 года было проведено дополнительное анкетирование тех, кто объявил себя
                    достигшим 100 лет и более. Анкеты содержат уникальные биографические и этнографические сведения.
                    <br><br>
                    При поддержке неравнодушных исследователей мы составили и опубликовали именные и географические
                    указатели ко всем сохранившимся анкетам.
                    <br><br>
                    Проект был реализован с весны 2022 по лето 2023 года.
                </p>
            </div>
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/4.png" alt="">
                <span>Дворянские родословные книги</span>
                <p>
                    В РГИА ф.1343 оп.51 хранятся дворянские родословные книги и списки сопричисленных по губерниям. Все
                    эти материалы оцифрованы, но не ясно, когда будет создана система удаленного доступа.
                    <br><br>
                    При поддержке неравнодушных исследователей мы переснимаем и публикуем эти дела.
                    <br><br>
                    Проект начат в 2021 году, в публичную сферу переведен осенью 2024.
                </p>
            </div>
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/5.png" alt="">
                <span>Экономические примечания к ПГМ</span>
                <p>
                    В РГИА ф.1350 оп.312 сохранилось большое количество описаний населенных пунктов страны конца XVIII –
                    начала XIX веков по уездам. Все они оцифрованы, но не ясно, когда будет создана система удаленного
                    доступа (к некоторым открыт доступ на сайте Президентской библиотеки).
                    <br><br>
                    При поддержке неравнодушных исследователей мы переснимаем и публикуем эти дела.
                    <br><br>
                    Проект начат в 2020 году, в публичную сферу переведен осенью 2024.
                </p>
            </div>
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/6.png" alt="">
                <span>Землевладельцы-1905</span>
                <p>
                    В РГИА ф.1290 оп.6 хранятся подробные списки землевладельцев 1905 года, куда включены даже самые
                    малоземельные крестьяне. 
                    <br><br>
                    При поддержке неравнодушных исследователей мы переснимаем и публикуем эти дела.
                    <br><br>
                    Проект начат в 2024 году.
                </p>
            </div>
            <div class="portfolio__body-item">
                <img src="../images/dist/portfolio/7.png" alt="">
                <span>Онлайн-архив</span>
                <p>
                    Мы публикуем в открытом доступе документы, полученные нами законным путем и представляющие интерес для широко круга исследователей. Сюда входят, в том числе, планы городов и чертежи зданий (РГИА ф.1293 оп.166 и 167), «дворянские» дела (РГИА ф.1343) и другие документы.
                </p>
            </div>
        </div>
    </div>
</section>