<section class="project">
    <img class="project__back" src="../images/dist/project__back.webp" alt="">
    <img class="project__letter" src="../images/dist/letter.webp" alt="">
    <div class="container">
        <div class="project__body">
            <h1>
                Проекты
            </h1>
            <div class="project__body-block">
                <p>
                    Мы уверены в том, что архивы должны быть открытыми и доступными для всех. Архивы на постоянной
                    основе занимаются систематизацией хранящихся у них документов. Но объем этой работы необъятен. Мы
                    считаем своим долгом участвовать в этой деятельности и призываем всех неравнодушных присоединяться к
                    процессу.
                    <br><br>
                    Очень важно не только брать от архивов, но и давать взамен – этим мы можем сделать по-настоящему
                    существенный вклад в изучение нашей истории!
                    <br><br>
                    Суть всех наших проектов, которые мы называем социально-значимыми, сводится к тому, что либо мы
                    осуществляем какую-то работу, приводящую к публикации данных, за свой счет, либо при участии
                    исследователей-спонсоров по льготным ценам (существенно дешевле, чем в случае исполнения
                    коммерческих заказов).
                    <br><br>
                    Обязательное условие всех этих проектов – публичный и свободный доступ к полученной информации.
                </p>
            </div>
        </div>
    </div>
</section>