<section class="services services__diff">
    <img class="services__back-diff" src="../images/dist/services__back.webp" alt="">
    <img class="services__letter" src="../images/dist/letter.webp" alt="">
    <div class="container">
        <div class="services__body">
            <h1 class="services__body-title">
                Услуги
            </h1>
            <div class="services__body-block">
                <div class="services__body-block-item">
                    <img src="../images/dist/services/1.png" alt="">
                    <div class="services__body-block-item-text">
                        <h3>
                            Генеалогическое <br> (биографическое) <br> исследование
                        </h3>
                        <p>от 80 тыс. руб. за 100 лет по одной ветви</p>
                        <a href="">
                            Подробнее
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="services__body-block-item">
                    <img src="../images/dist/services/2.png" alt="">
                    <div class="services__body-block-item-text">
                        <h3>
                            СБОР ДОКУМЕНТОВ <br>
                            ДЛЯ Репатриации
                        </h3>
                        <p>от 80 тыс. руб.</p>
                        <a href="">
                            Подробнее
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="services__body-block-item">
                    <img src="../images/dist/services/3.png" alt="">
                    <div class="services__body-block-item-text">
                        <h3>
                            Точечное <br> исследование
                        </h3>
                        <p>Работа с отдельными документами <br>
                            от 1600 руб./дело</p>
                        <a href="">
                            Подробнее
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="services__body-block-item">
                    <img src="../images/dist/services/4.png" alt="">
                    <div class="services__body-block-item-text">
                        <h3>
                            Прочее
                        </h3>
                        <p>Исследование строений, событий <br>
                            и другое</p>
                        <a href="">
                            Подробнее
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.4992 3.41797L11.4992 11.4996L3.41797 11.4996" stroke="#F4F0E6" />
                                <path d="M11.4995 11.5L0.5 0.5" stroke="#F4F0E6" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>